
/*-----------------------*/
/*header image */
.header-container {
    height: 500px;
    margin: 0;
}
/*nav bar sticky when scroll */
.header {
    position: sticky; 
    top: 0;
    width: 100%;  
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

/*picture of the day*/
.pod {
margin-right: 20px;
}

/*like button on result cards */
.card .button:hover .icon{
    color: rgb(206, 26, 26);
}

/*cards inside result category*/
.info-card {
    width: 600px;
}

.card-big {
    width: 350px;
}

.reg-card {
    width: 300px;
}
/*favorite images section and spacing */
.fav-img {
    padding-bottom: 5px;
}

.fav-img img {
    float: left;
    width:  120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5%;
 }