
/*-----------------------*/
/*header image */
.header-container {
    height: 460px;
    margin: 0;
}
/*nav bar sticky when scroll */
.header {
    position: sticky; 
    top: 0;
    width: 100%;
    margin-bottom: 50px; 
}

/*nav buttons */
.input-control {
    width: 300px;
}

#search-btn {
    padding-top: 8px;
    padding-left: 5px;
}
#developers-btn {
   padding-top: 8px;
   padding-left: 5px;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

/*picture of the day*/
.pod {
margin-right: 20px;
}

/*like button on result cards */
.card .button:hover .icon{
    color: rgb(206, 26, 26);
}

/*welcome card */
.welcome h2 {
    background-color: aliceblue; 
    color: black;
    border-radius: 5px; 
    margin-bottom: 0; 
}
.welcome div {
    background-color: rgba(250, 235, 215, 0.598); 
    border-radius: 10px; 
    padding:10px;
}
.welcome p {
    background-color: rgba(240, 248, 255, 0.534); 
    border-radius: 5px;
    padding: 10px;
}

/*cards inside result category*/
.info-card {
    width: 600px;
}

.info-card p {
    padding: 15px;
}
.reg-card {
    width: 300px;
}

/*favorite images section and spacing */
.fav-img {
    padding-bottom: 5px;
}

.fav-img img {
    float: left;
    width:  120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5%;
 }

 .fav-imgs p {
    background-color: aliceblue; 
    color: black; 
    border-radius: 5px; 
    margin-bottom: 0; 
    font-size: large; 
    margin-top: 20px;
}

.grid-fav {
    background-color: rgba(250, 235, 215, 0.598); 
    border-radius: 10px; 
    padding:10px;
}

 /*picture of the day*/
 #pic-od .head{
    background-color: aliceblue; 
    color: black; 
    border-radius: 5px; 
    margin-bottom: 0;
 }

 .card-pod {
    background-color: rgba(250, 235, 215, 0.747); 
    border-radius: 10px; 
    padding:10px;
}

.results .results-p {
    background-color: aliceblue; 
    color: black; 
    border-radius: 5px; 
    margin-bottom: 0;
}
.wrap-cards {
    justify-content: space-evenly; 
    background-color: rgba(250, 235, 215, 0.598);
    border-radius: 10px; 
    padding:10px;
}
.info-icon i {
    border-radius: 100%; 
    height: 4.75rem; 
    width: 4.75rem;
}

.footer {
    line-height: 10px;
    
   
}